Recordings/image_001_0000.png
Recordings/image_001_0001.png
Recordings/image_001_0002.png
Recordings/image_001_0003.png
Recordings/image_001_0004.png
Recordings/image_001_0005.png
Recordings/image_001_0006.png
Temp/
Library/
obj/
Apk/
.vs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
battlebees.sln
MeshBakerCore.csproj
MeshBakerEditor.csproj
.vsconfig
Logs/
